body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(62, 36, 40) 3%, rgb(159, 45, 48) 38%, rgb(179, 124, 144) 68%, rgb(147, 33, 33) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#my-portrait {
    width: 330px;
    height: 450px;
    border: outset 7px rgb(215, 196, 199);
}

.minor-section1 {
    padding: 20px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
    border-radius: 10px;
    border: double 7px rgb(79, 38, 44);
    display: flex;
}

.minor-section2 {
    padding: 20px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
    border-radius: 10px;
    border: double 7px rgb(79, 38, 44);
}

h1, h2 {
    font-family: 'Kanit', sans-serif;
    color: rgb(163, 126, 126);
    font-size: 30px
}

p {
    font-family: 'Chakra Petch', sans-serif;
}

ul {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}