/* Diagnol Line Animation background code by Alvaro <https://codepen.io/alvarotrigo/pen/yLxxxJZ> */
@keyframes move-it {
    0% {
      background-position: initial;
    }
    100% {
      background-position: 100px 0px;
    }
  }
  
  body { 
    background: repeating-linear-gradient(
    45deg,
    #bc6060,
    #bc6060 5%,
    #984646 5%,
    #984646 10%
  );
    background-size: 100px 100px;
    animation: move-it 2s linear infinite;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(69, 0, 0);
    border: 20px groove;
    border-top-color: rgb(255, 38, 38);
    border-bottom-color: rgb(134, 23, 23);
    border-left-color: rgb(122, 24, 24);
    border-right-color: rgb(62, 9, 9);
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: 0px;
    background-color: rgb(62, 46, 46);
  }
  
  h1, h2 {
    color: white;
    font-family: 'VT323', monospace;
  }

  p, .output {
    color: white;
    font-family: 'VT323', monospace;
  }