body {
  background-color: #044855;
}

#content {
  text-align: center;
  width: 50%;
  padding: 20px;
  margin: auto;
  background-color: #D94B58;
  border-radius: 20px;
  border: 20px double #C0424E;
}

h1, h2, h3 {
  font-size: 30px;
  color: #793F4E;
  font-family: 'Acme', sans-serif;
}

p {
  font-size: 20px;
  color: #793F4E;
  font-family: 'Acme', sans-serif;
}