body {
    background-color: rgb(11, 48, 40);
}

#content {
    background-color: rgb(32, 118, 105);
    border-radius: 7px;
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: 0px;
    background-color: rgb(52, 85, 107, 0.4);
    border-radius: 7px;
  }
  
  h1, h2, h3 {
    font-family: 'Bruno Ace SC', cursive;
    color: white;
  }

  p, .output {
    color: white;
  }